body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-image: url("https://i.imgur.com/kp27MdM.jpg"); 
  background-repeat: no-repeat;
}

h1 {
  font-weight: lighter;
  color: yellow;
  font-family: Stockholm;
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 300px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 30px;
  background-color: #4D4340; /* Brown */
  color: white;
}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

